body{
  background-image: linear-gradient(#17202A ,#CACFD2,#17202A);
  background-repeat: no-repeat;
  height: 730px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
